<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Chitter</h1>
    <body>
      <a id="newcheep" href="/newpost">Make new cheep</a>
      <div id="cheeps">

        <% cheeps.reverse().forEach((cheep, index) => { %>
          <p><span id="cheep-<%= index %>"><%= cheep.text %></span></p>
          <p><span id="cheep-<%= index %>"><%= cheep.createdAt %></span></p>
          <p><span id="cheep-<%= index %>"><%= cheep.username %></span></p>
          <p><span id="cheep-<%= index %>"><%= cheep.name %></span></p>
          <% }) %>

      </div>

      <form id="signout-form" action="/signin/new?_method=DELETE" method="post">
        <input id="sign-out-button" type="submit" value="Sign Out">
      </form>

  </body>
</html>
